/**
 * Reset some basic elements
 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
    margin: 0;
    padding: 0;
}

/**
 * Basic styling
 */
body {
    font:
        400 16px/1.5 -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Helvetica,
        Arial,
        sans-serif,
        "Apple Color Emoji",
        "Segoe UI Emoji",
        "Segoe UI Symbol";
    color: var(--primary-text-color);
    background-color: var(--primary-bg-color);
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure,
.highlight {
    margin-bottom: 15px;
}

/**
 * `main` element
 */
main {
    display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */
}

/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}

/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: 14px;
}

/**
 * Lists
 */
ul,
ol {
    margin-left: 30px;
}

/* li > ul,
li > ol {
    margin-bottom: 0;
} */

/**
 * Headings
 */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}

/**
 * Links
 */
a {
    color: var(--secondary-text-color);
    text-decoration: none;
}
a:visited {
    color: rgb(22.9483471074, 86.2541322314, 168.5516528926);
}
a:hover {
    color: #111;
    text-decoration: underline;
}
.social-media-list a:hover {
    text-decoration: none;
}
.social-media-list a:hover .username {
    text-decoration: underline;
}

/**
 * Blockquotes
 */
blockquote {
    color: #828282;
    border-left: 4px solid #e8e8e8;
    padding-left: 15px;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;
}
blockquote > :last-child {
    margin-bottom: 0;
}

/**
 * Code formatting
 */
pre,
code {
    border: 1px solid #e8e8e8;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;
}
pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
}

/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc(var(--page-width) - (30px * 2));
    max-width: calc(var(--page-width) - 30px * 2);
    margin-right: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-left: 30px;
}
@media screen and (max-width: var(--page-width)) {
    .wrapper {
        max-width: -webkit-calc(var(--page-width) - (30px));
        max-width: calc(var(--page-width) - (30px));
        padding-right: 15px;
        padding-left: 15px;
    }
}

/**
 * Clearfix
 */
.footer-col-wrapper:after,
.wrapper:after {
    content: "";
    display: table;
    clear: both;
}

/**
 * Icons
 */
.svg-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    fill: #828282;
    padding-right: 5px;
    vertical-align: text-top;
}

.social-media-list li + li {
    padding-top: 5px;
}

/**
 * Tables
 */
table {
    margin-bottom: 30px;
    width: 100%;
    text-align: left;
    color: rgb(62.9, 62.9, 62.9);
    border-collapse: collapse;
    border: 1px solid #e8e8e8;
}
table tr:nth-child(even) {
    background-color: rgb(247.3, 247.3, 247.3);
}
table th,
table td {
    padding: 9.999999999px 15px;
}
table th {
    background-color: rgb(239.65, 239.65, 239.65);
    border: 1px solid rgb(221.8, 221.8, 221.8);
    border-bottom-color: rgb(201.4, 201.4, 201.4);
}
table td {
    border: 1px solid #e8e8e8;
}

/**
 * Page content
 */
.page-content {
    padding: 30px 0;
    flex: 1;
}

.page-heading {
    font-size: 32px;
}

/**
 * Syntax highlighting styles
 */
.highlighter-rouge .highlight {
    background: var(--primary-header-bg-color);
    box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.2);
    border-color: rgba(0, 0, 0, 0.2);
    border-top-width: 5px;
    /* border-radius: 8px; */
}
.highlight {
    background: #fff;
    .c {
        color: #998;
        font-style: italic;
    }
    .err {
        color: #a61717;
        background-color: #e3d2d2;
    }
    .k {
        font-weight: bold;
    }
    .o {
        font-weight: bold;
    }
    .cm {
        color: #998;
        font-style: italic;
    }
    .cp {
        color: #999;
        font-weight: bold;
    }
    .c1 {
        color: #998;
        font-style: italic;
    }
    .cs {
        color: #999;
        font-weight: bold;
        font-style: italic;
    }
    .gd {
        color: #000;
        background-color: #fdd;
    }
    .gd .x {
        color: #000;
        background-color: #faa;
    }
    .ge {
        font-style: italic;
    }
    .gr {
        color: #a00;
    }
    .gh {
        color: #999;
    }
    .gi {
        color: #000;
        background-color: #dfd;
    }
    .gi .x {
        color: #000;
        background-color: #afa;
    }
    .go {
        color: #888;
    }
    .gp {
        color: #555;
    }
    .gs {
        font-weight: bold;
    }
    .gu {
        color: #aaa;
    }
    .gt {
        color: #a00;
    }
    .kc {
        font-weight: bold;
    }
    .kd {
        font-weight: bold;
    }
    .kp {
        font-weight: bold;
    }
    .kr {
        font-weight: bold;
    }
    .kt {
        color: #458;
        font-weight: bold;
    }
    .m {
        color: #099;
    }
    .s {
        color: #9c82a5;
    }
    .na {
        color: #008080;
    }
    .nb {
        color: #0086b3;
    }
    .nc {
        color: #458;
        font-weight: bold;
    }
    .no {
        color: #008080;
    }
    .ni {
        color: #800080;
    }
    .ne {
        color: #900;
        font-weight: bold;
    }
    .nf {
        color: #900;
        font-weight: bold;
    }
    .nn {
        color: #665e99;
    }
    .nt {
        color: #000080;
    }
    .nv {
        color: #008080;
    }
    .ow {
        font-weight: bold;
    }
    .py {
        color: #444;
    }
    .w {
        color: #bbb;
    }
    .mf {
        color: #099;
    }
    .mh {
        color: #099;
    }
    .mi {
        color: #099;
    }
    .mo {
        color: #099;
    }
    .sb {
        color: #444;
    }
    .sc {
        color: #444;
    }
    .sd {
        color: #444;
    }
    .s2 {
        color: #444;
    }
    .se {
        color: #444;
    }
    .sh {
        color: #444;
    }
    .si {
        color: #444;
    }
    .sx {
        color: #444;
    }
    .sr {
        color: #009926;
    }
    .s1 {
        color: #444;
    }
    .ss {
        color: #990073;
    }
    .bp {
        color: #999;
    }
    .vc {
        color: #008080;
    }
    .vg {
        color: #008080;
    }
    .vi {
        color: #008080;
    }
    .il {
        color: #099;
    }
}
