---
---

@use "main";
@use "header";
@use "footer";
@use "man-page";

:root {
    --page-width: 800px;
    --primary-text-color: #333;
    --primary-bg-color: #f2f2f2;
    --primary-header-bg-color: #eaeaea;
    --secondary-text-color: #2a7ae2;
    --secondary-bg-color: #333;
}
