<footer class="site-footer h-card">
    <data class="u-url" href="/"></data>

    <div class="wrapper">
        <h2 class="footer-heading">{{ site.title }}</h2>

        <div class="footer-col-wrapper">
            <div class="footer-col footer-col-1">
                source<br>
                <a class="u-email" href="{{ site.git_repo }}">github repository</a>
            </div>

            <div class="footer-col footer-col-2">
            </div>

            <div class="footer-col footer-col-3">
                Copyright &copy; {{ 'now' | date: "%Y" }}<br>
                    <a href="https://raw.githubusercontent.com/ftorkler/x11-overlay/refs/heads/main/LICENSE">MIT License</a>
            </div>
        </div>
    </div>
</footer>
